  @font-face {

    font-family: EccentricStd;
    
    font-family: Minimo;
    
    font-family: MoongladeDemoBold-jOzM;

    font-family: Raleway-Medium;
    
    src: url(./fonts/EccentricStd.otf);
    
    src: url(./fonts/Minimo.otf);
    
    src: url(./fonts/MoongladeDemoBold-jOzM.ttf);

    src: url(./fonts/Raleway-Medium.ttf)
    
    }
/* ------------------------------NavBar-------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
 }

 .navbar {
    
    background-color: black;
 
    height: 80px;
 
    display: flex;
 
    justify-content: center;
 
    align-items: center;
 
    font-size: 1.2rem;
 
    position: sticky;
 
    top: 0;
 
    z-index: 999;   
    font-family: Minimo;
 }
 #navbar{
     position: sticky;
 }
 .nav--logo{
    width: 80px;
}
.navbar_container {

   display: flex;

   justify-content: space-between;

   height: 80px;

   z-index: 1;

   width: 100%;

   max-width: 1300px;

   margin: 0 auto;

   padding: 0 50px;
}

#navbar__logo {
    
    background-color: #ff8177;
 
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
 
    background-size: 100%;
 
      -webkit-background-clip: text;
 
      -moz-background-clip: text;
 
      -webkit-text-fill-color: transparent;
 
      -moz-text-fill-color: transparent;
 
    display: flex;
 
    align-items: center;
 
    cursor: pointer;
 
    text-decoration: none;
 
    font-size: 2rem;
}
.navbar__menu {
    
    display: flex;
 
    align-items: center;
 
    list-style: none;
 
 }
 .navbar__item {
    height: 80px;
 }
 .navbar__links {
    
    color: #fff;
 
    display: flex;
 
    align-items: center;
 
    justify-content: center;
 
    width: 125px;
 
    text-decoration: none;
 
    height: 100%;
 
    transition: all 0.5s ease;
 
 }
 .navbar__btn {
    
    display: flex;
 
    justify-content: center;
 
    align-items: center;
 
    padding: 0 1rem;
 
    width: 100%;
 
 }
 
 .button {
    
    margin-top: 2px;
 
    display: flex;
 
    justify-content: center;
 
    align-items: center;
 
    text-decoration: none;
 
    padding: 10px 20px;
 
    height: 100%;
 
    border: none;
 
    outline: none;
 
    border-radius: 4px;
 
    background: #833ab4;
 
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
 
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    color: #fff;
    
    transition: all 0.3s ease;
 
 }
 .navbar__links:hover {
 
    color: #9518fc;
 
    transition: all 0.3s ease;
 
 }
 @media screen and (max-width: 960pX) {
    
    .navbar_container {

        display: flex;

        justify-content: space-between;

        height: 80px;

        z-index: 1;

        width: 100%;

        /* max-width: 1300px; */

        padding: 0;

    }
    .navbar__menu {
    
        display: grid;

        grid-template-columns: auto;

        width: 100%;

        margin: 0;
       
       left: 0;

        position: absolute;

        top: -1000px;

        opacity: 1;

        transition: all 0.5s ease;

        z-index: -1;

    }
    .navbar__menu.active {
    
        background: #131313;

        top: 100%;

        opacity: 1;

        transition: all 0.5s ease;

        z-index: 99;

        height: 60vh;

        font-size: 1.6rem;

    }
    #navbar__logo {

        padding-left: 25px;

    }
    .navbar__toggle .bar {
    
        width: 25px;

        height: 3px;

        margin: 5px auto;

        transition: all 0.3s ease-in-out;

        background: #fff;

    }
    .navbar__item {
    
        width: 100%;

    }
    .navbar__links {
    
        text-align: center;

        padding: 2rem;

        width: 100%;

        display: table;

    }
    .navbar__btn {

        padding-bottom: 2rem;

    }
    .button {
    
        display: flex;

        justify-content: center;

        align-items: center;

        width: 80%;

        height: 80px;

        margin: 0;

    }
    
    #mobile-menu {
    
        position: absolute;

        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {   
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
    
        transform: translateY(-8px) rotate(-45deg);

    }
 }
 .main{
    background-color: #131313;

 }
.head{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 140, 255);
    font-size: x-large;
    height: 100px;
    text-align: center;
    background-color: #131313;
}

#eng{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 140, 255);
    background-color: #131313;
}
#img2{
margin-left: 10%;
margin-top: 100px;
width: 400px;
}
.paragraph{
    align-items: right;
    position: relative;
    /* padding-left: 100px; */
    background-color: #131313;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    /* text-align: left; */
    justify-content: center;
    margin-top:  -325px;;
    height: 400px;
    margin-left: 50%;
    width: 600px;
    right: 10px;
}
.paragraph p{
    align-items: center;
    text-align: left;
    
}
.second-page{
    text-align: center;
    background-color: white;
    /* width: 100%; */
    height: 100vh;
    width: 100%;
}
#box{
    margin-top: 30px;
    background-color: aqua;
    display: inline-block;
    padding: 30px;
    color: #131313;
    height: 400px;
    width: 400;
    border-right: #131313;
}

.b1{
    margin-top: 20px;
     padding-bottom: 100px;
    width: 100%;
    padding-left: 150px;

}
.c1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px 0 40px 0;
    background-color:rgb(0, 183, 255);
    width: 320px;
    height: 260px;
    text-align: justify;
    margin-right: 0px;
    margin-top: 100px;
    margin-left: 50%; 
-webkit-box-shadow: 4px 2px 0px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 4px 2px 0px 0px rgba(0,0,0,0.75);
box-shadow: 4px 2px 0px 0px rgba(0,0,0,0.75);
}
.column1{
}
.c1head{
    font-size: 25px;
    color: #131313;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.c1 p{
    color:white;
    font-family: MoongladeDemoBold-jOzM;
    text-align: center;
}
#founder{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 204, 255);
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
}
#container {
    height: 50vh;
    display: flex;
    justify-content: space-around;
  }
  
  #container> div {
    flex: 0 0 23%;
  }

  .container {
    width: 100%;
    height: 70vh;
    background-image: url(u.png),url(cloud.png);
    background-size:400px,800px;
    background-repeat:no-repeat,no-repeat;
    background-position: left bottom,right top;
    position: relative;
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
  }
  .left {
    background-image: url("rupnar.jpg");
    background-size: cover;
    /* background: #7B3F61; */
    transform: translate(calc(-50% + 50px), -50%)
  }
  .right {
    background-image: url("rupnar.jpg");
    background-size: cover;
    /* background: #E78481; */
    transform: translate(calc(-50% + 260px), -50%);
    overflow: hidden;
    margin-left: 120px;
  }
  .center{
    background-image: url("rupnar.jpg");
    background-size: cover;
    margin-left: -440px;
    margin-top: -180px;
    background-color: #fcb045;
    transform: translate(calc(-50+ -50),50%);
    overflow: hidden;
  }
  .hidden-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background: #09042A; */
    transform: translateX(-100px);
  }
/* end  ............  page */
#microsoft{
    margin-left: 150px;
    height: 250px;
    width: 300px;
    margin-top: -4%;
}
.team-is-asset{
    /* margin-top: 80%; */
    background-color: #131313;
    top: 80%;
    width: 100%;
    height: 40vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#we{
    /* xt-align: right; */
    margin-top: -12%;
    margin-left: 40%;
    padding-top: 80px;
    /* text-align: right; */
    color: white;
}
#our{
    margin-left: 45%;
    font-size: larger;
    /* text-align: right; */
color: rgb(0, 191, 255);
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul {
    font-size: medium;
    list-style: circle;
    column-count: 2;
    column-gap: 10px;
    column-rule: rgb(0, 191, 255);
    list-style-type: none;
    text-align: left;
    margin-left: 35%;

  }
  .final-page{
    height: 50vh;
    width: 100%;
background-color: rgb(0, 183, 255);
  }
.circle-left{
  display: flex;
  background-image: url("rupnar.jpg");
  background-size: cover;
  /* justify-content: center; */
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #833ab4;
  margin-top: 5px;
  margin-left: 40%;
}
.circle-center{
  display: flex;
  background-image: url("rupnar.jpg");
  background-size: cover;
  /* justify-content: center; */
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #833ab4;
  margin-top: -250px;
  margin-left: 20%;
}
.circle-right{
  background-image: url("rupnar.jpg");
  background-size: cover;
  /* justify-content: center; */
  align-items: center;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #833ab4;
  margin-top: -250px;
  margin-left: 60%;
}
.c1container{
  background-image: url(u.png);
  background-repeat: no-repeat;
  background-color: rgb(0, 187, 255);
}
.text1{
  /* middle */
  font: 100;
  color: #131313;
  text-align: center;
  margin-left: 100px;
  margin-top: 5px;
}
.text2{
  
  font: 100;
  color:#131313;
  text-align: center;
  margin-left: 570px;
  margin-top: -170px;
}
.text3{
  /* first */
  font: 100;
  color: #131313;
  /* text-align: center; */
  margin-left: 250px;
  margin-top: -180px;
}
  

  #last{
    margin-left: 30%;
    text-align: center;
  }
  #about{
    text-align: center;
   
  }
/* last circles */
  .contain {
    background-color: rgb(0, 174, 255);
    width: 100%;
    height: 100vh;
    /* background: #09042A; */
    position: relative;
  }
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .left1 {
    background-image: url("img2.png");
    margin-top: -340px;
    margin-left:-90px ;
    background-size: cover;
    /* background: #7B3F61; */
    transform: translate(calc(50% + 50px), 50%);
    
  }
  .right1 {
    background-image: url("img1.png");
    background-size: cover;
    /* background: #E78481; */
    transform: translate(calc(-50% + -50px), -50%);
    overflow: hidden;
    margin-left: 30px;
  }
  .center1{
    background-image: url("img3.png");
    background-size: cover;
    margin-left: -450px;
     margin-top: -180px; 
    /* background-color: #fcb045; */
    transform: translate(calc(-50+ -50),50%);
    /* overflow: hidden; */
  }
  .hiddencircle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    /* background: #09042A; */
    transform: translateX(-100px);
    background-size: cover;
  }
  .text4{
    font: 100;
    color: #131313;
    text-align: center;
    margin-left: 25px;
    margin-top: -50px;
  }
  .text5{
    
    font: 100;
    color:black;
    text-align: center;
    margin-left: 480px;
    margin-top: -100px;
  }
  .text6{
    font: 100;
    color: #131313;
    text-align: center;
     margin-left: -450px; 
     margin-top: -200px;
    
  }
  .circle-center1{
    display: flex;
    background-image: url("rupnar.jpg");
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #833ab4;
    margin-top: -250px;
    margin-left: 25%;
  }
  .circle-left1{
    display: flex;
    background-image: url("rupnar.jpg");
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #833ab4;
    margin-top: 40px;
    margin-left: 40%;
  }
  .circle-right1{
    background-image: url("rupnar.jpg");
    background-size: cover;
    /* justify-content: center; */
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #833ab4;
    margin-top: -250px;
    margin-left: 55%;
  }
  /* correct */
  .line1{
    height: 2px;
    width: 130px;
   background-color: rgb(0, 170, 255);
   margin-left: 170px;
   margin-top: 10px;
  }
  .line2{
    /* correct */
    height: 2px;
    width: 130px;
    background-color: rgb(0, 170, 255);
    margin-left: 200px;
    margin-top: 15px;
  }
  /* correct */
  .line3{
    height: 2px;
    width: 130px;
    background-color: rgb(0, 170, 255);
    margin-left: 270px;
    margin-top: 5px;
  }
